html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --navbar-height: var(--chakra-spacing-14);
}

body {
  padding-top: var(--navbar-height);
}
